.center_portion{
    width: 100%;
    height: 316.8px;
    position: relative;
    
    font-family: SoDoSans_Bold, Helvetica, sans-serif;
    background-color: rgb(237, 235, 233);
    margin-bottom: 40px;
    
}
.bg_image{
    position: absolute;
    right: 1px;
    width: 57px;
    height: 70px;
}
.arrow_left{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 25px;
    
    bottom: 120px;
  
    left: 92px;
    z-index: 10;
    color: #013522;      
}
.arrow_forward{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 25px;
    right: 0;
    top: 155px;
    right: 65px;
    z-index: 10;

}
.card_images{
    width: 80px;
    height: 80px;
    border-radius: 8px;
    object-fit: cover;
}
.products_menu{
    margin-left: 122px;
    margin-right: 75px;
   
}
.caption_container{
    display: flex;
    justify-content: space-between;
    align-items: start;

}
.caption_container h2{
    margin-top: 0;
    color:rgb(30, 57, 50);
    font-size: 24px;
    font-weight:500;
    line-height:28.8px;
    padding-top: 32px;
    padding-bottom: 15px;
   
}
.caption_container h6{
    padding-top: 32px;
    padding-bottom: 15px;
}
.caption_container h4,h3{
    color: #000;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 3px;

}
span{
    color:rgb(108, 117, 125);
    font-size:10px;
    line-height:12px;
    font-weight:500;
}
.button_one{
    position: absolute;
    bottom: 30px;
    right: 25px;
    
    
   
   
}
.center_portion button{
    width: 96px;
    height: 32px;
    padding: 0;
    cursor: pointer;
    font-size: 12px;
    border-radius: 30px;
    box-shadow: 0 4px 15px #a3a3a3ad;
    color: #fff;
    background-color: #00754a;
    border: none;
}
.center_portion button:hover{
    background-color: #1e3932;
}


.caption_container h6{
    margin-top: 0;
    color:rgb(0, 117, 74);
    font-size:12.8px;
    line-height:15.36px;
    font-weight:bold;
    cursor: pointer;
}
.caption_container h4{
    padding-bottom: 5.6px;

}


.product_list{
    
    height: 100%;
    display: flex;
    justify-content: space-between;
    
}
.card_one{
    display: flex;
    flex: 1;
    
    border: 1px solid black;
    padding-top: 16px;
   padding-left: 24px;
    padding-right: 24px;
    position: relative;
    margin-right: 18px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 0 2px #00000012, 0 2px 2px #0000000f, 0 1px 3px #0000001a;
    height: 160px;
    border: none;

}
.cardone_div_two{
    padding-left: 16px;
    padding-right: 16px;

}
.card_two{
    display: flex;
    flex: 1;
    margin-right: 18px;
    border: 1px solid black;
    padding-top: 16px;
   
    padding-left: 24px;
    padding-right: 24px;
    position: relative;
    margin-right: 18px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 0 2px #00000012, 0 2px 2px #0000000f, 0 1px 3px #0000001a;
    height: 160px;
    border: none;
    
}
.cardtwo_div_two{
    padding-left: 16px;
    padding-right: 16px;
}
.card_three{
    display: flex;
    flex: 1;
    margin-right: 18px;
    border: 1px solid black;
    padding-top: 16px;
   
    padding-left: 24px;
    padding-right: 24px;
    position: relative;
    margin-right: 18px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 0 2px #00000012, 0 2px 2px #0000000f, 0 1px 3px #0000001a;
    height: 160px;
    border: none;
}
.cardthree_div_two{
    padding-left: 16px;
    padding-right: 16px;
}
/*----------last_portion------------*/
.last_portion{
    height: 432.80px;
    background-color: rgb(237, 235, 233); ;
    padding-bottom: 40px;
    position: relative;
    padding-bottom:  60px;;
}
.last_section{
    margin-left: 118px;
    margin-right: 75px;  
    height: 432px;
    font-family: SoDoSans_Bold, Helvetica, sans-serif; 
    
}
.last_section_main{
    height: 340;
    position: relative; 
    transition: background-color 0.2s ease-in-out; 
    transition: 0.5s ease-in-out; 
}



.last_section_main img{
    height: 374px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;

}
.last_section_main::before{
   
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0,1.5 ) 110%);
 }
.last_section_main:hover{
    filter: brightness(75%);

} 
 



.header_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
   

}
.header_text{
    color: #1e3932;
    font-size: 1.5em;
    line-height: 1.2px;
    font-weight:500;
    padding-bottom: 15px;
    padding-top: 15px;
    
}
.header_section h6{
    color: #00754a;
    font-size: .8rem;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 25px;
    font-weight: 500;
    line-height: 1.2;
    cursor: pointer;
}
.last_section_button button{
    position: absolute;
    top: 20px;
    left: 35px;
    width: auto;
    border-radius: 5px;
    font-size: 9px;
    background: #e6edeb;
    color: #096;
    padding: 2px 4px;
    gap: 2px;
    letter-spacing: 1px;
    border: none;
    height: 18px;
    font-weight: bold;
} 
.last_section_text h5{
    position: absolute;
    bottom: 180px;
    left: 35px ;
    font-weight: 500;
    line-height: 1.2;
    font-size: 28px;
    letter-spacing: -0.1px;
    color:rgb(255, 255, 255);
    margin-bottom: 14px;
    padding-top: 20px;

} 
.last_section_text p{
    position: absolute;
    margin-top: 0;
    bottom: 140px;
    margin-left: 35px;
    color:rgb(255, 255, 255);
}
.last_section_text button{
    width: 200px;
    height: 32px;
    position: absolute;
    bottom: 35px;
    left: 35px;
    border-radius: 16px;
    border: none;
    font-size: 12px;
    color: #000;
    background-color: #fff;
    font-weight: bold;
    cursor: pointer;

}
.last_section_main{
    cursor: pointer;
}

    

